RespoRefrences {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  background-repeat: repeat;
  background-size: cover;
}

.RespoRefrencesImgAndText {
}

.RespoRefrencesText {
  display: flex;
  flex-direction: column;
}

.RespoRefrencesInnertextt {
  display: flex;
  gap: 12rem;
}

.RespoRefrencesImgs {
  display: flex;
  justify-content: space-evenly;
}

.RespoRefrencesImg {
  display: flex;
  gap: 2rem;
  width: 19rem;
  justify-content: space-around;
  background-color: white;
  align-items: baseline;
  border-radius: 120px;
  border: 1px solid rgb(37, 155, 251);
}
