.RespoReviews {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  margin-top: 5rem;
  gap: 30px;
}

.RespoReview {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 15rem;

  flex-direction: column;

  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.RespoReviewsImg > img {
  width: 5rem;
  height: auto;
}

.RespoReviewsImgContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.RespoReviewsText {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  font-weight: 400;
  text-align: left;
}

.RespoReviewsText > p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 16rem;
}

.RespoReviewsNameAndStar > h3 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}
.RespoAllReviews {
  display: flex;

  justify-content: space-evenly;
  gap: 32px;
  flex-wrap: wrap;
}
.RespoReviewsWithH1 {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
