@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500&family=Noto+Sans+TC&family=Outfit:wght@500&family=Righteous&display=swap");
body {
  display: flex;
  background-image: url("./cloudGif.gif");
  background-repeat: repeat;
  background-size: cover;
  justify-content: center;
  /* font-family: "Times New Roman", Times, serif; */
  align-items: center;
  height: 100vh;
  color: #fff;

  /* background: linear-gradient(
    90deg,
    rgba(39, 177, 255, 0.48363095238095233) 48%,
    rgba(117, 45, 245, 0.5480567226890756) 64%
  ); */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.respoTitle {
  font-size: 3rem;
}

.respoSection {
  font-size: 3rem;
}

.Information {
  font-size: 15px;
  width: 50%;
}

.chromeLink {
  display: flex;
  font-size: 45px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.moreInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  border-radius: 5px;
  /* background: linear-gradient(
    90deg,
    rgba(39, 177, 255, 0.923406862745098) 45%,
    rgba(95, 149, 249, 0.9542191876750701) 85%
  ); */
  width: 100%;
}

.innerinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
img {
  width: auto;
  height: 150px;
}
.innerinfoFont {
  font-size: 1rem;
}
.progress {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.progressBar {
  height: 3rem;
  width: 100%;
}

.percentage {
  display: flex;
  justify-content: space-between;
}

/* .submitButton {
  align-items: center;
  background-color: rgb(137, 177, 222);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  height: 2rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
} */
.input {
  width: 18rem;
  height: 1.7rem;
}

/* CSS */
.submitButton {
  align-items: center;
  background-color: rgb(137, 177, 222);
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  /* font-weight: 600; */
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
a {
  text-decoration: none;
}
