.svgLogo {
  display: flex;
  width: 4rem;
}
.RespoBubbleSvg {
  width: 30rem;
}
.RespoXSvg {
  width: 25rem;
}
#RespoBubbleSvg1 {
  width: 519px;
  height: 519px;
}
.RespoBubbleSvg {
  /* display: flex; */
  width: 100%;
  background-color: red;
  /* justify-content: center; */
}
.RespoBubbleAll {
  width: 70rem;
}
.RespoBubbleSvg1 {
  color: red;
}
.svgLogoContainer {
  /* don't delete */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.RespoLogoSvgContainer {
  display: flex;
  align-items: center;
  gap: .5rem;
}
