.testingbird {
  fill: rgb(101, 123, 233);
  animation: testingbird 1s infinite linear;
  position: absolute;
}
@keyframes testingbird {
  from {
    transform: translate(1em, 0);
    fill: rgb(236, 0, 0);
  }
  to {
    transform: translate(6em, 0);

    fill: rgb(98, 255, 14);
  }
}
#AgreeButton:hover {
  fill: green;
}
#Bird1,
#Bird2,
#Bird3,
.bird4 {
  fill: #1da1f2;
  animation: fly 5s linear infinite;
}
@keyframes fly {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
