.testingbird {
  fill: rgb(101, 123, 233);
  animation: testingbird 1s infinite linear;
  position: absolute;
}
@keyframes testingbird {
  from {
    transform: translate(1em, 0);
    fill: rgb(236, 0, 0);
  }
  to {
    transform: translate(6em, 0);

    fill: rgb(98, 255, 14);
  }
}
#AgreeButton:hover {
  fill: green;
}
