.RespoAIAboveFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
  margin-bottom: 7rem;
}
.RespoAIAboveFooterText {
  padding-top: 2rem;
  font-family: Neue Montreal;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  width: 49rem;
}
.RespoAIAboveFooterButton {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.RespoAIAboveFooterTextButtonContainer {
  display: flex;
  align-items: center;
  border: 1px solid #27b1ff;
  gap: 20px;
  flex-direction: row;
  width: 207px;
  height: 50px;
  font-size: 1rem;
  justify-content: center;
  border-radius: 12px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  margin-top: 4rem;
}

.RespoAIAboveFooterButton > img {
  width: 1.5rem;
  flex-direction: column;
}

.RespoAIAboveFooterTextButtonContainer:hover {
  background-color: #27b0fff2;
  cursor: pointer;
}
